<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  Database:
  <%= image_tag user_serve_path(@user) %>
</p>
<hr>

<p>
  Local:
  <%= image_tag user_local_path(@user) %>
</p>
<hr>

<p>
  Paperclip:
  <%= image_tag @user.avatar.url(:original) %>
  <%= image_tag @user.avatar.url(:medium) %>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
